body {
  background-color: black;
}

.circle {
  position: relative;
  border: 2px solid white;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  background-color: black;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 10px;
}

.button {
  position: relative;
  border: 2px solid black;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  background-color: blue;
  padding-top: 35px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 16px;
  font-family: "courier new", sans-serif;
}

.button:hover {
  background-color: purple;
  cursor: pointer;
}

#LightBox {
  position: absolute;
  height: 425px;
  width: 150px;
  margin-left: 400px;
  margin-right: auto;
  margin-top: 100px;
}

#red {
  background-color: red;
  opacity: .4;
  transition: opacity 2s ease-out 0s;
}

#red:hover {
  background-color: red;
  opacity: 1;
  box-shadow: 0px 0px 15px 15px red;
  
}

#yellow {
  background-color: yellow;
  opacity: .4;
  transition: opacity 2s ease-out 0s;
}

#yellow:hover {
  background-color: yellow;
  opacity: 1;
  box-shadow: 0px 0px 15px 15px yellow;
}

#green {
  background-color: lime;
  opacity: .4;
  transition: opacity 2s ease-out 0s;
}

#green:hover {
  background-color: lime;
  opacity: 1;
  box-shadow: 0px 0px 15px 15px lime;
}

#ControlBox {
  position: absolute;
  height: 425px;
  width: 175px;
  margin-left: 600px;
  margin-right: auto;
  margin-top: 100px;
}