body {
	font-family: Helvetica, Georgia, sans-serif;
}

#mainContainer {
	width: 100%;
	height: 500px;

}

#thumbs {
	position: absolute;
	width: 100%;
	height: 80px;
}

#scrollbar {
	position: absolute;
	bottom: 0px;
}

.thumb {
	position: absolute;
	display: inline-block;
	width: 80px;
	height: 80px;
	background-color: black;
	cursor: pointer;
	overflow: hidden;
}

.thumb img {
	width: 80px;
}

.thumb:hover {
	opacity: .7;
}