body {
	font-family: Helvetica, Georgia, sans-serif;
}

#mainContainer {
	width: 100%;
	height: 100%;
	background-color: gray;
}

#mainImage {
	position: absolute;
	width: 100%;
	height: 100%;
}

#controlBar {
	position: absolute;
	margin-left: 100px;
	bottom: 0px;
	width: 100%;
	height: 100px;
}

.btn {
	position: relative;
	display: inline-block;
	height: 80px;
	width: 80px;
	background-color: black;
}

.thumb {
	position: relative;
	padding-right: 20px;
	width: 80px;
	height: 80px;
	background-color: black;
	cursor: pointer;
	overflow: hidden;
}

.thumb img {
	width: 80px;
}

.thumb:hover {
	opacity: .7;
}