body {
	background-image: url('../img/img-0.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
}

#controlBar {
	position: absolute;
	display: inline-block;
	bottom: 0px;
	height: 100px;
}

.btn {
	display: inline-block;
	height: 80px;
	width: 80px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: black;
	cursor: pointer;
}

#images {
	display: inline-block;
	bottom: 0px;
}

.thumb {
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
	margin-left: 10px;
	margin-right: 10px;
}

.thumb img {
	height: 80px;
}

.thumb:hover {
	opacity: .7;
}